button {
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    border-radius: 5px;
    padding: 6px 12px;
    line-height: 1.5em;
    font-size: 20px;
    color: white;
    font-family: 'Josefin Sans';
}

button:hover {
    background-color: #286090;
    border-color: #204d74;
    cursor: pointer;
}

button.attached-right {
    border-radius: 0 5px 5px 0;
    display: inline-block;
}

input[type="text"] {
    padding: 6px 12px;
    border-radius: 5px;
    padding: 6px 12px;
    border: 1px solid gray;
    font-family: 'Josefin Sans';
    font-size: 20px;
    line-height: 1.5em;
    display: inline-block;
}
input[type="text"].attached-left {
    border-radius: 5px 0 0 5px;
}

/* The modal background */
.modal-new {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: linear-gradient(169deg, rgba(0,0,0,1), rgba(0,0,0,0.5), rgba(0,0,0,1), rgba(0,0,0,0.5), rgba(0,0,0,1), rgba(0,0,0,0.5),
        rgba(0,0,0,1), rgba(0,0,0,0.5), rgba(0,0,0,1), rgba(0,0,0,0.5), rgba(0,0,0,1), rgba(0,0,0,0.5));
    background-size: 300% 300%;
    -webkit-animation: animateback 30s ease infinite;
    -moz-animation: animateback 30s ease infinite;
    animation: animateback 30s ease infinite;
}

/* Modal Content */
.modal-content-new {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    top: 20%;
    padding: 0;
    border: 1px solid #888;
    min-width: 400px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 13px 13px 13px 13px;
}

/* The Close Button */
.close-new {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-new:hover,
.close-new:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header-new {
    padding: 2px 16px;
    background-color: #bbb;
    border-bottom: 5px solid #888;
    border-radius: 10px 10px 10px 10px;
    color: #777;
}

/* Modal Body */
.modal-body-new {
    padding: 1em 1em 0;
}

.modal-body-new:after {
    content: "_";
    color: white;
    width: 100%;
    margin-left: -1em;
    z-index: 2;
    position: absolute;
    background-color: white;
    border-bottom: 5px solid #aaa;
    border-radius: 0 0 10px 10px;
}

/* Modal Footer */
.modal-footer-new {
    padding: 12px 16px 0px;
    background-color: #bbb;
    border-bottom: 5px solid #888;
    border-radius: 0 0 10px 10px;
    color: #777;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 20%; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 20%; opacity: 1}
}

@-webkit-keyframes animateback {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes animateback {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes animateback {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.content {
    border: 5px dashed #aaa;
    border-radius: 3px;
    padding: 10px;
    //min-height: 180px;
}

div.container {
    display: inline-block;
    position: absolute;
    font-size: 0;
}

div.container.centered {
    left: 50%;
    transform: translateX(-50%);
}

ul#log {
    list-style-type: none;
    overflow: auto;
    height: 400px;
}

ul#log > li {
    font-size: 14pt;
    display: block;
}

@media screen and (max-width: 1999px) {
    div.container {
        width: 1900px;
    }
}
@media screen and (max-width: 1919px) {
    div.container {
        width: 1700px;
    }
}
@media screen and (max-width: 1799px) {
    div.container {
        width: 1580px;
    }
}
@media screen and (max-width: 1599px) {
    div.container {
        width: 1380px;
    }
}
@media screen and (max-width: 1399px) {
    div.container {
        width: 1180px;
    }
}
@media screen and (max-width: 1199px) {
    div.container {
        width: 980px;
    }
}
@media screen and (max-width: 999px) {
    div.container {
        width: 780px;
    }
}
@media screen and (max-width: 799px) {
    div.container {
        width: 580px;
    }
}
@media screen and (max-width: 599px) {
    div.container {
        width: 380px;
    }
}