@media screen and (max-width: 2179px) {
    div.card-holder {
        width: calc(8 * 240px);
    }
}
@media screen and (max-width: 1939px) {
    div.card-holder {
        width: calc(7 * 240px);
    }
}
@media screen and (max-width: 1699px) {
    div.card-holder {
        width: calc(6 * 240px);
    }
}
@media screen and (max-width: 1459px) {
    div.card-holder {
        width: calc(5 * 240px);
    }
}
@media screen and (max-width: 1219px) {
    div.card-holder {
        width: calc(4 * 240px);
    }
}
@media screen and (max-width: 1067px) {
    div.card-holder {
        width: calc(100% - 20px);
    }
    div.card-holder > .card.hoverable {
        width: calc(100% - 20px) !important;
    }
}

@media screen and (min-width: 821px) {
    div.commission-container {
        width: 800px;
        background: linear-gradient(90deg, #3c3c3c 0%, #3c3c3c 33%, transparent 34%, transparent 100%);
        padding-left: 70px;
        margin-left: 35px;
        border-radius: 5px 0 0 5px;
    }
}
@media screen and (max-width: 820px) {
    div.container {
        width: calc(100% - 20px);
    }
}