@media screen and (max-width: 2419px) {
    div.container-600 {
        width: calc(3 * 600px);
    }
}

@media screen and (max-width: 2019px) {
    div.container-400 {
        width: calc(4 * 400px);
    }

    div.container-200 {
        width: calc(9 * 200px);
    }
}

@media screen and (max-width: 1819px) {
    div.container-600 {
        width: calc(2 * 600px);
    }

    div.container-200 {
        width: calc(8 * 200px);
    }
}

@media screen and (max-width: 1619px) {
    div.container-400 {
        width: calc(3 * 400px);
    }

    div.container-200 {
        width: calc(7 * 200px);
    }
}

@media screen and (max-width: 1419px) {
    div.container-200 {
        width: calc(6 * 200px);
    }
}

@media screen and (max-width: 1219px) {
    div.container-600 {
        width: calc(1 * 600px);
    }

    div.container-400 {
        width: calc(2 * 400px);
    }

    div.container-200 {
        width: calc(5 * 600px);
    }
}

@media screen and (max-width: 1019px) {
    div.container-200 {
        width: calc(4 * 200px);
    }
}

@media screen and (max-width: 819px) {
    div.container-400 {
        width: calc(1 * 400px);
    }

    div.container-200 {
        width: calc(3 * 200px);
    }
}

.max-400 {
    max-width: 400px;
}

.max-600 {
    max-width: 600px;
}

.max-800 {
    max-width: 800px;
}

.max-1000 {
    max-width: 1000px;
}

.max-1200 {
    max-width: 1200px;
}

.set-400 {
    width: 400px !important;
}

.set-600 {
    width: 600px !important;
}

.set-800 {
    width: 800px !important;
}

.set-1000 {
    width: 1000px !important;
}

.set-1200 {
    width: 1200px !important;
}

@media screen and (max-width: 700px) {
    div.container-200,
    div.container-400,
    div.container-600,
    div.set-800,
    div.set-1000,
    div.set-1200 {
        width: 100% !important;
    }

    div.container {
        padding-left: 0px !important;
        padding-right: 0px !important;
        left: 0 !important;
        transform: initial !important;
    }
}

.container-600,
.container-400,
.container-200 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0px;
}

.container-600 > *,
.container-400 > *,
.container-200 > * {
    font-size: initial;
}

.container,
.commission-container {
    display: inline-block;
    text-align: left;
    font-size: 0px;
    /*border: 1px dashed red;*/
    /*box-sizing: content-box;*/
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 15px;
    padding-right: 15px;
}