@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');


/* GENERAL */
* {
    box-sizing: border-box;
}

body, html {
    background-image: url("Images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    font-family: 'Josefin Sans';
    margin: 0px;
}

.content {
    border: 4px dashed #aaa;
    padding: 5px;
    font-size: 0; /* Regrettable, but necessary... Thanks CSS3, you're not shit at all.*/
    box-sizing: border-box;
    height: 100%;
    display: inline-block;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.hoverable:hover {
    transform: translate(0px,-5px);
    transition: transform 0.5s;
}

.hoverable, .hoverable:active {
    transform: translate(0px,0px);
    transition: transform 2s;
}

.hoverable:active {
    transition: transform 0s;
}

.thumbnail {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    background: #bbb;
    border: 5px solid transparent;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.6);
    margin-bottom: 10px;
    display: block;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
}
/* FORM */

.card {
    background-color: #fff;
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    padding: 10px;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
    display: inline-block;
}

.return-font {
    font-size: initial;
}

.font-14 {
    font-size: 14pt;
}

div.commission-sidebar {
    box-sizing: border-box;
    border: 10px solid transparent;
    width: 70px;
    min-height: 100%;
    display: inline-block;
    text-align: right;
    float: left;
    position: absolute;
    margin-left: -70px;
}

.navbar {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 5px solid;
    font-size: 12pt;
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0px;
}

.dropdown-menu {
    background-color: #bbb;
    border: 0;
    min-width: 0;
    border-bottom: 5px solid #888;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dropdown-menu > li > a {
    color: #777;
    white-space: normal;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #bbb;
}

.close {
    font-size: 40px;
    line-height: 0.5;
}

.navbar-brand {
    font-size: 20pt;
//border-right: 1px solid #777;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #777 !important;
}

.navbar-default {
    background-color: #bbb;
    border-bottom: 5px solid #888 ;
}

.navbar-nav>li>a {
    border-radius: 5px;
}

.navbar-nav>li {
    min-width: 100px;
//text-align: center;
}

.navbar-nav>#twitch>a, .navbar-nav>#twitch>svg {
    background: #4b367c;
    color: #d7cceb !important;
    fill: #d7cceb;
}

.navbar-nav>#twitch:hover>a, .navbar-nav>#twitch:hover>svg {
    color: white !important;
    fill: white;
}

.panel {
    box-shadow: 5px 5px 0 #bbb, -5px -5px 0 #bbb;
    padding: 5px;
    border-radius: 0px !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

textarea {
    font-family: "Josefin Sans";
}

.animated {
    animation: colorchange 2s infinite ease-in-out;
    -webkit-animation: colorchange 2s infinite ease-in-out;
}

table, th, td {
    border-collapse: separate;
    text-align: center;
}

table.table-style td {
    padding: 10px;
    font-size: 14pt;
}

table.table-style button,
table.table-style .button {
    padding: 6px 12px;
    line-height: 1.42;
    font-size: 18px;
}

table.table-style {
    overflow: visible;
    border-spacing: 0;
    background: white;
    line-height: 1.42;
}

table.table-style > tbody {
    background: white;
    overflow: visible;
}

table.table-style > thead > tr > th {
    background: #bbb;
    padding: 10px;
    font-weight: normal;
    font-size: 20px;
    color: #777;
}

table.table-style > tbody > tr:hover {
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.3) !important;
    -webkit-transform: translateZ(0);
    transform: scale(1.005);
    border-radius: 5px;
    cursor: pointer;
}

table.table-style > tbody > tr {
    position: relative;
    z-index: 1;
}

table.table-style > tbody > tr:nth-child(even):hover {
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.5) !important;
}

table.table-style > thead {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    border-radius: 17px;
}

table.table-style > thead th.table-title {
    font-size: x-large;
//text-transform: uppercase;
    color: #333;
}

/*Table Header Borders*/
table.table-style > thead > tr > th {
    position: relative;
}
table.table-style > thead > tr:last-child > th,
table.table-style > thead > tr:last-child > th:after,
table.table-style > thead > tr:last-child > th:before
{
    border-bottom: 5px solid #888;
}
table.table-style > thead > tr:first-child > th:first-child:before {
    border-top-left-radius: 15px;
}
table.table-style > thead > tr:last-child > th:first-child:before {
    border-bottom-left-radius: 15px;
}
table.table-style > thead > tr:first-child > th:last-child:after {
    border-top-right-radius: 15px;
}
table.table-style > thead > tr:last-child > th:last-child:after {
    border-bottom-right-radius: 15px;
}
table.table-style > thead > tr > th:last-child:after {
    content: "_";
    width: 20px;
    position: absolute;
    color: transparent;
    background: #bbb;
    right: -20px;
    bottom: -5px;
    height: calc(100% + 5px);
}
table.table-style > thead > tr > th:first-child:before {
    content: "_";
    width: 20px;
    position: absolute;
    color: transparent;
    background: #bbb;
    left: -20px;
    bottom: -5px;
    height: calc(100% + 5px);
}
/*End Table Header Borders*/

/*Staggered Row Styling*/
table.table-style > tbody > tr:nth-child(even) > td {
    background: rgba(0,0,0,0.3);
}
table.table-style > tbody > tr:nth-child(even) {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2) inset;
    border-radius: 5px;
}
table.table-style > tbody > tr:nth-child(even) > td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
table.table-style > tbody > tr:nth-child(even) > td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
table.table-style > tbody {
    position: relative;
}
table.table-style::before {
    content: "_";
    width: 8px;
    position: absolute;
    color: transparent;
    background: #fff;
    left: 7px;
    bottom: 0px;
    height: 100%;
    box-sizing: border-box;
    z-index: -1;
}

table.table-style::after {
    content: "_";
    width: 8px;
    position: absolute;
    color: transparent;
    background: #fff;
    right: 7px;
    bottom: 0px;
    height: 100%;
    box-sizing: border-box;
    z-index: -1;
}

table.table-style > tbody::after {
    content: "_";
    width: calc(100% + 16px);
    width: -webkit-calc(100% - 14px);
    position: absolute;
    color: transparent;
    background: #fff;
    left: -8px;
    left: -webkit-calc(7px);
    bottom: -8px;
    height: 8px;
    border-radius: 0 0 6px 6px;
    z-index: -1;
}

@media screen and (max-width: 700px) {
    table.table-style > tbody::after {
        border-radius: 0px !important;
    }

    table.table-style > thead > tr > th:first-child:before,
    table.table-style > thead > tr > th:last-child:after {
        border-radius: 0 !important;
        width: 8px;
    }

    table.table-style > thead > tr > th:first-child:before {
        left: -8px;
    }
    table.table-style > thead > tr > th:last-child:after {
        right: -8px;
    }
}
/*End Staggered Row Styling*/

/*Modals*/
/* The modal background */
.modal-new {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: linear-gradient(169deg, rgba(0,0,0,1), rgba(0,0,12,0.8), rgba(0,0,0,1), rgba(0,0,12,1));
    background-size: 200% 200%;
    -webkit-animation: animateback 30s ease infinite;
    -moz-animation: animateback 30s ease infinite;
    animation: animateback 30s ease infinite;
}

/* Modal Content */
.modal-content-new {
    position: relative;
    display: inline-block;
    background-color: #fefefe;
    margin: auto;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    min-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 13px 13px 13px 13px;
}

.modal-content-new input:not([type='button']):not([type='submit']) {
    width: calc(100%);
}

.modal-content-new [type='submit'] {
    display: block;
}

.modal-content-new [type='submit'].logout {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.modal-content-new [type='submit']:not(.logout) {
    float: right;
}


/* The Close Button */
.close-new {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-new:hover,
.close-new:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header-new {
    padding: 2px 16px;
    background-color: #bbb;
    border-bottom: 5px solid #888;
    border-radius: 10px 10px 10px 10px;
    color: #777;
}

/* Modal Body */
.modal-body-new {
    padding: 1em 1em 0;
}

.modal-body-new:after {
    content: "_";
    color: white;
    width: 100%;
    margin-left: -1em;
    display: block;
    position: absolute;
    background-color: white;
    border-bottom: 5px solid #888;
    border-radius: 0 0 10px 10px;
}

/* Modal Footer */
.modal-footer-new {
    padding: 12px 16px 0px;
    background-color: #bbb;
    border-bottom: 5px solid #888;
    border-radius: 0 0 10px 10px;
    color: #777;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 20%; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 20%; opacity: 1}
}

@-webkit-keyframes animateback {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes animateback {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes animateback {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
/*End Modals*/

#twitch>.animated>svg {
    fill: red;
}

@keyframes colorchange {
    0%   {background: #4b367c;}
    50%   {background: #694cad;}
    100%   {background: #4b367c;}
}

@-webkit-keyframes colorchange {
    0%   {background: #4b367c;}
    50%   {background: #694cad;}
    100%   {background: #4b367c;}
}

/*Gallery*/
div.card-holder {
//border: 1px solid red;
    text-align: left;
    display: inline-block;
//font-size: 0px;
    box-sizing: content-box;
}

div.card-holder > div.card {
    margin: 5px;
}

button,
.button {
    background-color: #49779f;
    border: 0;
    border-radius: 6px 6px 8px 8px;
    padding: 6px 12px;
    line-height: 1.5em;
    font-size: 20px;
    color: white;
    font-family: 'Josefin Sans';
    border-bottom: 3px solid #2a557b;
}

button.red,
.button.red {
    background-color: #b4624d !important;
    border-color: #912d10 !important;
}

button.paypal {
    font-size: 12pt;
    height: 44px;
}

button:hover,
.button:hover {
    background-color: #2a557b;
    cursor: pointer;
}

button.red:hover,
.button.red:hover {
    background-color: #912d10 !important;
}

button:disabled,
.button:disabled {
    opacity: 0.66;
    background: #5e5e5e;
    border-color: #3c3c3c;
}

button:disabled:hover,
.button:disabled:hover {
    cursor: not-allowed;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    border-radius: 5px;
    padding: 6px 12px;
    border: 1px solid gray;
    border-bottom-width: 3px !important;
    font-family: 'Josefin Sans';
    font-size: 20px;
    line-height: 1.5em;
    display: inline-block;
    min-width: 1px;
    letter-spacing: 0px;
}

input.clean {
    border-radius: 0;
    border: none;
    text-align: right;
}

input.clean:focus {
    outline: none;
}

.attached-inputs {
    display: inline-flex;
    width: 100%;
}

.attached-right {
    border-radius: 0 5px 5px 0;
    display: inline-block;
}

.attached-left {
    flex: 1;
    border-radius: 5px 0 0 5px !important;
    border-right-width: 0 !important;
}

label.file-button {
//overflow: hidden;
    position: relative;
}

label.file-button > [type='file'] {
    cursor: inherit;
    display: none;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.verify > .submitGroup {
    margin-top: 15px;
}

#passwordWarn,
#usernameWarn,
#emailWarn {
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.4);
    background: rgba(0,0,0,0.3);
    padding: 11px;
    font-size: 14pt;
    float: left;
    width: calc(100% - 120px);
}

#passwordWarn.good,
#usernameWarn.good,
#emailWarn.good {
    background: rgba(0,120,0,0.3);
}

#passwordWarn.moderate,
#usernameWarn.moderate,
#emailWarn.moderate {
    background: rgba(250,200,0,0.3);
}

#passwordWarn.bad,
#usernameWarn.bad,
#emailWarn.bad {
    background: rgba(120,0,0,0.3);
}

.verify > .submitGroup > button {
    float: right;
}

ul#log {
    list-style-type: none;
    overflow: auto;
    height: 400px;
    padding: 0;
    padding-right: 5px;
    overflow-y: scroll;
    margin-right: -22px
}


ul#log > li {
    font-size: 14pt;
    display: block;
    word-wrap: break-word;
    padding: 10px;
}

ul#log > li:nth-child(odd) {
    background: rgba(0,0,0,0.3);
    border-radius: 4px;
}

.tab.content {
    display: none;
}

.tab-holder {
    padding-top: 10px;
    display: block;
    border-top: 1px solid #888;
    box-shadow: 0px -2px 0px rgba(0,0,0,0.2);
}

input.tab {
    display: none;
}

label.tab {
    border: 1px solid #888;
    background: white;
    position: relative;
    margin: 0 10px 0 0;
    padding: 5px 5px 0 5px;
    box-shadow: inset 0px -2px 0px rgba(0,0,0,0.2);
}

input:checked + label.tab {
    border-bottom: 0;
    padding-bottom: 1px;
    box-shadow: none;
}

div.status {
    font-size: initial;
    display: inline-flex;
}

div.status > div.decision {
    flex: 1;
}
div.status > div.progress {
    flex: 2;
}
div.status > div.payment {
    flex: 3;
}